/* Fixed CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.sub-container{
    width: 1200px;
    margin: 0 auto;
}
/* Fixed CSS */



/* header section */
.header-area{}
.header-container {
    width: 1215px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}
.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon-image{}
.header-icon-image img{
    margin-top: 8px;
    padding-right: 5px;
}
.header-icon-heading{}
.header-icon-heading h3{
    display: inline-block;
    font-size: 33px;
    font-family: "Montserrat", sans-serif;
}
.header-menu{
}
.menu-item{
    display: flex;
}
.menu-item li{
    list-style: none;
    margin: 0px 32px;
    font-weight: 500;
}
.menu-item li a {
    text-decoration: none;
    color: #000000;
}
.header-search{}
.search-item {
    display: flex;
    align-items: center;
}
.search-item li{
    list-style: none;
    margin: 0px 15px;
}
.search-item li a{}
/* header section */



/* banner section */

.banner-area{}
.banner{
    position: relative;
    margin-bottom: -10px;
}
.banner-img{
}
.banner-img img{
    object-fit: cover;
    width: 100%;
}
.page-name{
    text-align: center;
    width: 10rem;
    position: absolute;
    top: 5rem;
    left: 33rem;
}
.page-heading{
    font-size: 45px;
    font-weight: 500;
}
.page-sub-heading{
    display: flex;
    justify-content: center;
}
.page-sub-heading-item1{
    font-size: 14px;
    font-weight: 500;
    padding-right: 11px;
}
.page-sub-heading-item1 i{
}
.page-sub-heading-item2{
    font-size: 14px;
}

/* banner section */



/* billing section */
.billing-area{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.billing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}
.billing-left{
    padding: 0px 75px;
}
.billing-left-heading{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.name-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* .billing-left select, input, textarea{
    width: 100%;
    height: 6vh;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 1rem;
    border: 1px solid #9F9F9F;
} */
.simillar-input{
    width: 100%;
    height: 6vh;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 1rem;
    border: 1px solid #9F9F9F;
}
.billing-left label{
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}
.billing-right {
    padding: 0px 75px;
}
.product-summary{
    border-bottom: 1px solid #9F9F9F;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.product h3{
    font-size: 25px;
    font-weight: 500;
}
.product-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.product-name p{
    font-size: 15px;
}
.product-name span {
    color: #9F9F9F;
    font-size: 15px;
}
.product-subtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.product-subtotal p{
    font-size: 15px;
}
.product-total{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.product-total p{
    font-size: 15px;
}
.product-total span{
    font-size: 18px;
    color: #B88E2F;
    font-weight: bold;
}

.money-transfer{}
.bank-transfer{
    margin: 17px 0px;
}
.radio1{}
.radio input{}
.radio1 label{}
.bank-transfer p{
}
.cash-one-delivery input{}
.cash-one-delivery label{}
.cod-pera{}
.cod-pera p{
    font-size: 14px;
    margin: 17px 0px;
    font-weight: 300;
}
.dbt{
    width: 1rem;
    height: auto;
    margin-right: 8px;
    accent-color: black;
}
.cod{}
.dbt-p{
    display: inline-block;
    color: #9f9f9f;
    font-size: 14px;
}
.dbt-active{
    display: inline-block;
    font-size: 14px;
}
.bank-transfer-pera{
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 300;
}
.cash-one-delivery div{
    padding-bottom: 5px;
}
.money-transfer-button{
    text-align: center;
    margin-top: 2rem;
}
.money-transfer-button a{text-decoration: none;color: black;border: 1px solid black;border-radius: 10px;padding: 12px 85px;}
/* billing section */



/* support area */
.support-area{
    background: #FAF3EA;
    padding: 5.5rem 0rem;
}
.support{
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-service{
    display: flex;
    align-items: center;
    margin: 0px 25px;
}
.support-icon{}
.support-icon i{
    font-size: 50px;
    color: #242424;
}
.support-details{
    margin-left: 18px;
}
.support-details h2{
    color: #242424;
    font-weight: 600;
}
.support-details p{
    color: #898989;
    font-size: 17px;
    font-weight: 500;
}
/* support area */



/* footer section */
.footer-area{
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    border-top: 2px solid #e9e9e9;
    margin-top: 5px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.footer-left{
    padding: 0rem 4rem;
}
.footer-left h3{
    font-size: 22px;
}
.footer-left p{
    color: #9F9F9F;
    font-size: 12px;
    margin-top: 2.5rem;
}
.footer-middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-left: 4rem; */
}
.footer-middle-left{}
.footer-left-list{
    list-style: none;
    font-size: 12px;
    font-weight: 500;
}
.footer-left-list li{
    padding-bottom: 2.3rem;
}
.footer-middle-right{}
.footer-right-list{
    list-style: none;
    font-size: 12px;
    font-weight: 500;
}
.footer-right-list li{
    padding-bottom: 2.3rem;
}
.footer-right{}
.footer-right p{
    font-size: 12px;
    font-weight: 500;
    color: #9F9F9F;
}
.footer-right-input{
    display: flex;
    margin-top: 2rem;
}
.footer-right-input input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 12px;
    width: 10rem;
}
.footer-right-input input:focus{
    outline: none;
}
.footer-right-input p{
    color: black;
    margin-left: 1rem;
    border-bottom: 1px solid black;
}
.footer-right-input p:hover{
    cursor: pointer;
}
.first-link{
    color: #9F9F9F;
}
.craetor {
    border-top: 1px solid #e9e9e9;
}
.craetor p {
    padding: 1.5rem 0rem;
    font-size: 14px;
}
/* footer section */